@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
:root {
    --clr-primary: hsl(0, 80%, 64%);
    --clr-secondary: hsl(354, 84%, 77%);
    --clr-black: hsl(228, 20%, 15%);
    --clr-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    font-family: "Manrope", sans-serif;
    font-size: 1.6rem;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

hr {
    width: 100%;
    border: none;
    border-bottom: .2rem solid var(--clr-primary);
}